//- general stylizing
link(rel='stylesheet' href='//yui.yahooapis.com/pure/0.6.0/pure-min.css')
//- easy layout helper
link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css')
//- styles via stylus
style
	:stylus
		.connection
			color white
			font-weight 900
			text-transform uppercase
		body
			padding 20px
		.button
			border 2px black dashed
		#welcome
			padding 10px
			font-size 36pt
		.status
			@extends .button
			background lightgrey
			width 100px
			height 60px
			display flex
			justify-content center
			flex-direction column
			text-align center
		.authenticated
			background green !important
			&:after
				@extends .connection
				content 'authenticated' !important
		.connecting
			background purple
			&:after
				@extends .connection
				content 'connecting'
		.connected
			background red
			&:after
				@extends .connection
				content 'connected'
		.authenticating
			background orange !important
			&:after
				@extends .connection
				content 'authenticating' !important
		#status-text
			font-size 17pt
			background dimgrey
			color white
			div
				padding 10px
				border-bottom 3px dashed white
		input[type=text]
			width 100%

.row#welcome hello
.row.middle-xs
	.col-xs-3
		each val, key in inputs
			input(id=key, name=key, type='text', placeholder=val)
			br
	.col-xs
		.row.middle-xs.around-xs
			each b,i in buttons
				button.button.pure-button.col-xs-3(id='button' + (i + 1)) !{b}
	.status.col-xs-3
p#status-text
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js')
//- script(src='//cdnjs.cloudflare.com/ajax/libs/js-cookie/latest/js.cookie.js')
script(src='/socket.io/socket.io.js')
script(src='//rawgit.com/jashkenas/coffeescript/1.10.0/extras/coffee-script.js')
script(src='./clientside.coffee' type='text/coffeescript')
